.menu {
  float: right;
  margin-top: 50px;
  width: 30%;
  text-transform: capitalize;
  opacity: 0.95; 
}

.menu-item {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid black;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  list-style: none;
  background-color: #eed81f;
  color: #000000; 
  font-weight: bold;  
}

a{
  color: white;
  text-decoration: none;
}

.menu-item:hover {
  background-color: #555; }

.menu-item img{
  margin-right: 10px;
  vertical-align: middle;
}