<div class="movies-component">
  <div>
    <div class="box-title">RELAÇÃO DE TODOS OS FILMES</div>
  </div>
  <div *ngIf = "listMovies; else loading" class="row mt-3">
    <div *ngFor="let movie of listMovies.results; let i = index" class="col-md-4">
      <div class="card name-list">
        <div class="card-body">
          <h6 class="card-title">{{ movie.title }}</h6>
          <a [routerLink]= "['../detalhes/filme/', movie.url ]" class="btn btn-secondary btn-sm">Detalhe do filme</a>
        </div>
      </div>
    </div>
    <div>
      <button *ngIf="listMovies.previous" type="button" class="btn btn-secondary" (click)="back()">Voltar</button>
      <button *ngIf="listMovies.next" type="button" class="btn btn-primary" (click)="next()">Próximo</button>
    </div>
  </div>
  <ng-template #loading>
      Carregando Informações...
  </ng-template>
</div>
